/ {
    appLeds: appLeds{
        compatible = "gpio-leds";
        led_d0: led_d0{
            gpios= <&gpio2 9 GPIO_ACTIVE_HIGH>;
            label = "Application heart beat";
        };
    };

    aliases {
        heartbeat = &led_d0;
        serial = &uart20;
    };
};

/*config the uart 2 at 115200 bauds and set the serial pins as uart*/
&uart20 {	
    current-speed = <115200>;
    stop-bits = "1";
    data-bits = <8>;
    parity = "none";
    pinctrl-0 = <&uart20_default>;
    pinctrl-1 = <&uart20_sleep>;
    pinctrl-names = "default","sleep";
};